<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>哈囉，歡迎寫下你的評論</h1>
    <p>asd asd asd asd asd asd asd asd asd asd asd asd</p>
    <p><%= link_to "註冊用戶", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image') , movie %>
      </div>
    </div>
  <% end %>
</div>
